{#
/**
* @file
* Theme override to display a node.
*/
#}
{%
set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
    {{ title_suffix }}
    <div class="col-sm-2">{{ content.field_category }}</div>
    <div class="col-sm-10">
        <h3><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
        <p><csmall>Posted: {{ date }}</csmall> | <csmall2>By: {{ author_name }}</csmall2></p>
    </div>
    {{ content.body }}
    {{ content.field_keywords }}
    <div class="spacing"></div>

</article>
